# Language
Language: Cpp
Standard: Cpp11

# Indentation and tabs
IndentWidth:     2
TabWidth:        2
UseTab:          Never

# Braces
BasedOnStyle: GNU

BraceWrapping:
  AfterControlStatement: true
  BeforeElse: true
  AfterFunction: true
  AfterClass: false
  AfterNamespace: false

# Consecutive statements
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false

# braces
BreakBeforeBraces: Allman

# Reference and pointer alignment
PointerAlignment: Left
ReferenceAlignment: Left